.dpd-header {

  display: flex;
  justify-content: center;

  @include md {
    justify-content: flex-end;
  }

  &__dropdown {
    padding: .7em 1.5em;
    cursor: pointer;
    font-size: 20px;
    border-radius: 35px;
    color: $color-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8f4ff;
  }
}