




.dpd-expiration {
  font-size: 20px;
}

.dpd-item {
  width: 100%;
  margin-bottom: 50px;
  display: inline-flex;
  flex-direction: column;
  padding-right: 15px;

  input,
  select {
    width: 100%;
    padding: .7em 1.5em;
    font-size: 28px;
    border-radius: 35px;
    background-color: #ffffff;
  }

  select {
    text-align: center;
    line-height: 1;
    position: relative;
  }

  label {
    margin-bottom: 15px;
  }

  &--country {
    width: 100%;
    max-width: 495px;
  }

  &--location {
    width: 100%;
  }
}

