.dpd-nav {
  z-index: 5;
  position: absolute;
  transform: translateX(-200%);
  width: 100%;
  background: #ffffff;
  height: 100vh;
  transition: all .5s ease;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

  @include md {}

  @include lg {}

  @include xl {
    transform: translateX(0);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 405px;
    padding: 50px 15px 0 0;
    background-color: #f9f9f9;

    .logout {
      color: #061058;
    }

    &__list {
      padding: 20px 0 26px;

      img {
        width: 30px;
      }

      li {
        padding-left: 72px;
        margin-bottom: 24px;
        position: relative;

        &:hover {
          &:after {
            top: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            content: '';
            width: 10px;
            height: 52px;
            position: absolute;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: $color-primary;
          }
        }
      }

      .dpd-nav__title h3 {
        padding-left: 72px;
      }

      a {
        font-size: 30px;
        line-height: 38px;
        font-weight: 500;
        display: flex;
        align-items: center;

        &:hover {
          color: $color-secondary;
        }
      }

      i {
        padding-left: 6px;
        padding-right: 20px;
      }
    }
  }

  &__logo {
    color: $color-secondary;
    font-size: 44px;
    line-height: 54px;
    padding-left: 72px;
    padding-bottom: 60px;
    font-weight: 700;
    font-family: "SoinSansNeue", sans-serif;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    padding-left: 72px;
    text-transform: uppercase;
    font-family: "SoinSansNeue", sans-serif;
  }

  width: 405px;

  &__list {

    a {
      // font-size: 18px;
      line-height: 24px;
    }
  }
}

.show {
  transform: translateX(0);
  margin: -1em;
}