.dpd-expiration {
  font-size: 20px; }

.dpd-item {
  width: 100%;
  margin-bottom: 50px;
  display: inline-flex;
  flex-direction: column;
  padding-right: 15px; }
  .dpd-item input,
  .dpd-item select {
    width: 100%;
    padding: .7em 1.5em;
    font-size: 28px;
    border-radius: 35px;
    background-color: #ffffff;
    -webkit-appearance: none; }
  .dpd-item select {
    text-align: center;
    line-height: 1;
    position: relative; }
  .dpd-item select::after {
    content: '>';
    color: red; }
  .dpd-item label {
    margin-bottom: 15px; }
  .dpd-item--country {
    width: 100%; }
  .dpd-item--location {
    width: 100%; }

@font-face {
  font-family: "SoinSansNeue";
  font-display: swap;
  src: url("./fonts/Stawix - SoinSansNeue-Roman.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "SoinSansNeue";
  font-display: swap;
  src: url("./fonts/Stawix - SoinSansNeue-Medium.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "SoinSansNeue";
  font-display: swap;
  src: url("./fonts/Stawix - SoinSansNeue-Bold.otf");
  font-weight: 700;
  font-style: normal; }

html,
body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
nav,
button,
header,
select,
a,
input,
textarea,
fieldset {
  margin: 0;
  padding: 0;
  color: #8389a9;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: normal;
  list-style: none;
  line-height: 22px;
  text-decoration: none;
  box-sizing: border-box;
  word-break: break-word;
  background-color: transparent;
  font-family: "SoinSansNeue", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font-weight: inherit; }

body {
  background-color: #F9F9F9; }

.dpd-page {
  display: grid;
  grid-template-columns: 1fr; }
  @media (min-width: 1200px) {
    .dpd-page {
      grid-template-columns: 1fr 5fr; } }

.dpd-nav {
  z-index: 5;
  position: absolute;
  transform: translateX(-200%);
  width: 100%;
  background-color: #F2F2F2;
  height: 100vh;
  transition: all .5s ease;
  padding: 50px 15px 0 0; }
  .dpd-nav .logout {
    color: #061058; }
  .dpd-nav__list {
    padding: 20px 0 26px; }
    .dpd-nav__list img {
      width: 30px; }
    .dpd-nav__list li {
      padding-left: 72px;
      margin-bottom: 24px;
      position: relative; }
      .dpd-nav__list li:hover:after {
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        content: '';
        width: 10px;
        height: 52px;
        position: absolute;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: #4ca0e9; }
    .dpd-nav__list .dpd-nav__title h3 {
      padding-left: 72px; }
    .dpd-nav__list a {
      font-size: 30px;
      line-height: 38px;
      font-weight: 500;
      display: flex;
      align-items: center; }
      .dpd-nav__list a:hover {
        color: #041157; }
    .dpd-nav__list i {
      padding-left: 6px;
      padding-right: 20px; }
  @media (min-width: 1200px) {
    .dpd-nav {
      width: 405px;
      transform: translateX(0);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: 405px;
      background-color: #f9f9f9; } }
  .dpd-nav__logo {
    color: #041157;
    font-size: 44px;
    line-height: 54px;
    padding-left: 72px;
    padding-bottom: 60px;
    font-weight: 700;
    font-family: "SoinSansNeue", sans-serif; }
  .dpd-nav__title {
    font-size: 20px;
    font-weight: 500;
    padding-left: 72px;
    text-transform: uppercase;
    font-family: "SoinSansNeue", sans-serif; }
  .dpd-nav__list a {
    line-height: 24px; }

.show {
  transform: translateX(0); }

.dpd-body {
  padding: 1em;
  border-radius: 70px;
  background: #ffffff; }
  @media (min-width: 768px) {
    .dpd-body {
      border-radius: 0;
      border-top-left-radius: 70px;
      border-bottom-left-radius: 70px;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 5%; } }
  .dpd-body h1 {
    margin: 1em 0;
    color: #041157;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: "SoinSansNeue", sans-serif; }
    @media (min-width: 768px) {
      .dpd-body h1 {
        margin: .5em 0;
        text-align: left; } }
  .dpd-body h2 {
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    line-height: 42px;
    letter-spacing: 0.7px; }
    @media (min-width: 768px) {
      .dpd-body h2 {
        text-align: left; } }

.dpd-form label {
  font-size: 18px;
  line-height: 24px; }

.dpd-form__top-row {
  display: grid;
  grid-template-columns: 1fr; }
  @media (min-width: 768px) {
    .dpd-form__top-row {
      grid-template-columns: 1fr 1fr; } }
  @media (min-width: 992px) {
    .dpd-form__top-row {
      grid-template-columns: repeat(4, 1fr); } }

.dpd-form__bottom-row {
  display: grid;
  grid-template-columns: 1fr; }
  @media (min-width: 768px) {
    .dpd-form__bottom-row {
      grid-template-columns: 1fr 1fr; } }

.dpd-form label {
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  color: #041157; }

.dpd-form input,
.dpd-form select {
  color: #041157;
  box-shadow: 0px 2px 11px rgba(152, 152, 152, 0.25); }

.dpd-form button {
  width: 100%;
  height: 70px;
  display: flex;
  color: #ffffff;
  font-size: 28px;
  cursor: pointer;
  align-items: center;
  border-radius: 35px;
  justify-content: center;
  background-color: #4ca0e9; }
  .dpd-form button:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04); }

@media only screen and (max-width: 1700px) {
  .dpd-form {
    padding-right: 0; } }

.dpd-options {
  margin: 2em 0;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
  justify-content: space-between;
  max-width: 690px; }
  @media (min-width: 992px) {
    .dpd-options {
      grid-template-columns: 1fr 1fr; } }
  .dpd-options button {
    margin: auto;
    width: 100%;
    padding: .7em 1.5em;
    cursor: pointer;
    font-size: 25px;
    max-width: 335px;
    border-radius: 35px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #041157;
    background-color: #E8F4FF; }
    .dpd-options button img {
      height: 27px;
      margin-right: 15px; }

.dpd-tabs {
  padding-top: 38px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea; }
  .dpd-tabs button {
    color: #041157;
    cursor: pointer;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    position: relative;
    background-color: transparent;
    margin: 0 .5em; }
    @media (min-width: 992px) {
      .dpd-tabs button {
        font-size: 25px;
        line-height: 42px; } }
    @media (min-width: 1400px) {
      .dpd-tabs button {
        font-size: 35px;
        line-height: 42px; } }
    .dpd-tabs button:hover:after {
      content: '';
      left: 0;
      width: 100%;
      height: 10px;
      bottom: -26px;
      position: absolute;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: #4ca0e9; }

.toggler {
  position: absolute;
  width: 30px;
  top: 1em;
  left: .5em;
  z-index: 10; }
  .toggler .span, .toggler .span:before, .toggler .span:after {
    height: 4px;
    width: 30px;
    background: black;
    position: relative; }
    .toggler .span:before, .toggler .span:after {
      content: '';
      position: absolute;
      top: -10px; }
    .toggler .span:after {
      top: 10px; }
  @media (min-width: 1200px) {
    .toggler {
      display: none; } }

.red .span, .red .toggler .span:before, .toggler .red .span:before, .red .toggler .span:after, .toggler .red .span:after,
.red .span:after,
.red .span:before {
  background: red; }
